<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.menu.Menu_Mapper">

	<sql id="menuBasecols">
		MENU_NAME, RESTAURANT_NUM, MENU_PRICE, MENU_DESCRIPTION, MENU_IMAGE
	</sql>

	<select id="menuListSelect" resultType="menu">
		select * from MENU
	</select>
</mapper>