<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.employee.Employee_Mapper">
	
	<sql id="employeeBasecols">
		EMPLOYEE_NUM, DEPARTMENT_NUM, POSITION_NUM, EMPLOYEE_EMAIL, EMPLOYEE_PHONE, 
		EMPLOYEE_PHONE2, EMPLOYEE_PAY, EMPLOYEE_BANK, EMPLOYEE_BANKNUM, EMPLOYEE_JOINDAY, EMPLOYEE_NAME
	</sql>

	<select id="employeeListSelect" resultType="employee">
		select * from EMPLOYEE
	</select>

	<select id="employeeSelectByEmployeeNum" parameterType="Long" resultType="int">
		select count(*) from EMPLOYEE where EMPLOYEE_NUM = #{value}
	</select>
	
	<select id="employeeNumCheck" parameterType="Long" resultType="int">
		select count(*) from EMPLOYEE where EMPLOYEE_NUM = #{value}
	</select>
</mapper>