<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
		"http://java.sun.com/xml/ns/javaee
		 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
		"
	version="3.0">
  <display-name>Archetype Created Web Application</display-name>
 <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>
  		org.springframework.web.filter.CharacterEncodingFilter
  	</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
    <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>
  		org.springframework.web.servlet.DispatcherServlet
  	</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-context.xml
  			classpath:spring-jdbc.xml
  			classpath:spring-beans.xml
  			classpath:Inquiry_beans.xml
  			classpath:Counseling_beans.xml
			classpath:BHReservation_beans.xml
			classpath:Banquet_beans.xml
			classpath:Rent_beans.xml
			classpath:BE_beans.xml
			classpath:Employee_beans.xml
			classpath:BE_Request_beans.xml
			classpath:Menu_beans.xml
			classpath:FAB_beans.xml
			classpath:BHReview_beans.xml
			classpath:Total_Payment_beans.xml
			classpath:BHPayment_beans.xml
			classpath:roomAdmin.xml  <!-- 객실 관리자  -->
  			classpath:room.xml  <!-- 객실   -->
  			classpath:Member_beans.xml  <!-- 멤버   -->
			classpath:Admin_beans.xml
		</param-value>  		
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
  